.wh_query {
  font-family: "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB", "helvetica neue", helvetica, arial, Sans-serif, "Hiragino Sans GB", "Hiragino Sans GB W3", "SimHei";
  padding: 0;
  margin: 0;
}
.yibao {
  display: block;
}
.zhongbiao {
  display: none;
}
.CFDA {
  display: none;
}
.pop_area {
  display: none;
  background-color: #fff;
  z-index: 100;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}
.pop_area ul li {
  list-style-type: none;
  float: left;
  font-size: 16px;
  color: #999;
}
@media screen and (max-width: 769px) {
  .query_top {
    margin: 0 auto;
    overflow: hidden;
  }
  .query_top ul li {
    list-style-type: none;
    float: left;
  }
  .query_top ul li a:link,
  .query_top ul li a:visited {
    display: block;
    color: #323232;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 0.3rem 0.7rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  .query_top ul li a:hover,
  .query_top ul li a:active {
    color: #fff;
    background-color: #0078db;
  }
  .query_main .ma_input {
    font-size: 0;
    text-align: center;
    position: relative;
    width: 28rem;
    margin: 0 auto;
  }
  .query_main .ma_input input {
    border: 1px #e6e6e6 solid;
    font-size: 1.2rem;
  }
  .query_main .ma_input .input_1 {
    height: 2.7rem;
    padding: 0 1.5rem 0 0.5rem;
    background: url(/static/index/win_medical/resource/img_query2.png) right no-repeat #fafafa;
    background-size: 1rem 0.5rem;
  }
  .query_main .ma_input .input_2 {
    height: 2.5rem;
    padding: 0 8rem 0 0.5rem;
    background: url(/static/index/win_medical/resource/img_query1.png) right no-repeat #fafafa;
    background-size: 2.5rem 2.2rem;
  }
  .query_main .ma_result {
    color: #666;
    font-size: 1.2rem;
    text-align: center;
  }
  .query_main .ma_allpro ul {
    margin-left: -3.5rem;
  }
  .query_main .ma_allpro ul li {
    list-style-type: none;
    margin-top: 1rem;
  }
  .query_main .ma_allpro ul li a {
    text-decoration: none;
  }
  .query_main .ma_allpro .ma_product {
    border: 1px solid #f1f0ee;
    background-color: #fafafa;
    position: relative;
    width: 22rem;
    margin: 0 auto;
    padding: 1rem;
  }
  .query_main .ma_allpro .ma_product .pro_name {
    color: #0078db;
    font-size: 2rem;
  }
  .query_main .ma_allpro .ma_product .pro_type {
    color: #646464;
    font-size: 1.4rem;
  }
  .query_main .ma_allpro .ma_product .pro_grade {
    background-color: #f75a47;
    line-height: 3rem;
    height: 5rem;
    width: 8rem;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 1.5rem;
    right: 0.2rem;
  }
  .query_main .ma_allpro .ma_product .pro_grade .grade_name {
    font-size: 2rem;
    margin: -0.5rem;
  }
  .query_main .ma_allpro .ma_product .name_length {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .query_main .ma_allpro .ma_product .pro_grade .grade_num {
    font-size: 1.2rem;
    margin: -0.5rem;
  }
  .pop_area {
    position: absolute;
    left: 1rem;
    width: 20rem;
  }
  .pop_area ul {
    margin-left: -1.5rem;
  }
  .pop_area ul li {
    list-style-type: none;
    float: left;
    font-size: 1.2rem;
    color: #999;
    margin: 0.5rem 0.2rem;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 3.6rem;
    text-align: center;
    border-radius: 10px;
  }
  .pop_area ul li:hover {
    background: #0078db;
    color: #fff;
  }
}
@media screen and (min-width: 769px) {
  .query_top {
    width: 700px;
    margin: 0 auto;
    overflow: hidden;
  }
  .query_top ul li {
    list-style-type: none;
    float: left;
  }
  .query_top ul li a:link,
  .query_top ul li a:visited {
    display: block;
    color: #323232;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 8px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    margin: 0 40px;
  }
  .query_top ul li a:hover,
  .query_top ul li a:active {
    color: #fff;
    background-color: #0078db;
  }
  .query_main .ma_input {
    font-size: 0;
    text-align: center;
    margin: 15px auto;
    position: relative;
    width: 742px;
  }
  .query_main .ma_input input {
    border: 1px #e6e6e6 solid;
    font-size: 14px;
  }
  .query_main .ma_input .input_1 {
    height: 52px;
    padding: 0 40px 0 10px;
    background: url(/static/index/win_medical/resource/img_query2.png) right no-repeat #fafafa;
  }
  .query_main .ma_input .input_2 {
    height: 50px;
    padding: 0 470px 0 20px;
    background: url(/static/index/win_medical/resource/img_query1.png) right no-repeat #fafafa;
  }
  .query_main .ma_result {
    color: #666;
    font-size: 14px;
    text-align: center;
  }
  .query_main .ma_allpro {
    margin: 0 auto;
    width: 1035px;
  }
  .query_main .ma_allpro ul {
    margin-left: -35px;
  }
  .query_main .ma_allpro ul li {
    list-style-type: none;
    margin: 0 10px;
    float: left;
  }
  .query_main .ma_allpro ul li a {
    text-decoration: none;
  }
  .query_main .ma_allpro .ma_product {
    border: 1px solid #f1f0ee;
    background-color: #fafafa;
    position: relative;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
  }
  .query_main .ma_allpro .ma_product .pro_name {
    color: #0078db;
    font-size: 20px;
  }
  .query_main .ma_allpro .ma_product .name_length {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .query_main .ma_allpro .ma_product .pro_type {
    color: #646464;
    font-size: 16px;
  }
  .query_main .ma_allpro .ma_product .pro_grade {
    background-color: #f75a47;
    line-height: 30px;
    height: 50px;
    width: 80px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 2px;
  }
  .query_main .ma_allpro .ma_product .pro_grade .grade_name {
    font-size: 20px;
    margin: -5px;
  }
  .query_main .ma_allpro .ma_product .pro_grade .grade_num {
    font-size: 12px;
    margin: -5px;
  }
  .pop_area {
    position: absolute;
    width: 440px;
  }
  .pop_area ul {
    margin: 13px -28px;
  }
  .pop_area ul li {
    margin: 5px 10px;
    padding-bottom: 5px;
    height: 25px;
    line-height: 25px;
    width: 50px;
    text-align: center;
    border-radius: 10px;
  }
  .pop_area ul li:hover {
    background: #0078db;
    color: #fff;
  }
}
