{% extends '../layout/base.html' %}
{% block title %}mysql test{% endblock %}
{% block content %}
  <style>
      .weixin {
        border: 2px solid gray;
        width: 50%;
        
      }
    </style>
	 <div class="weixin">
   <p>异步请求测试</p>
    <input type="button" id="test1" value="Send Post"> <br>
    <input type="button" id="test2" value="PATCH"> <br>
    <input type="button" id="test3" value="GET"> <br>
   </div>
   <span id='csrf'>{{ csrf }}</span>
  </body>
  <!-- <script src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js'></script> -->
  <script>
  /*var csrftoken = document.cookie.match(/csrftoken=\w+/ig)[0].replace(/csrftoken=/, '')*/

  var csrftoken = document.cookie.match(/csrfnode=[\w-]+/ig)[0].replace(/csrfnode=/, '')
  console.log('csrfnode', csrftoken)

  var param = {
    total: 1000,
    deposit: 100,
    orderState: 2, 
    companyId: 2,
    shopId: 3,
    authNum: 2,
  }
  

   document.getElementById('test3').addEventListener('click', function() {
    fetch('/mysql-test/select/' + 6, {
      method: 'GET',
      credentials: 'include',
      headers: { 
        'x-csrf-token': csrftoken,
      },
    }).then((res) => {
      res.json().then((resp) => {
        console.log('resp', resp)
      })
    })
  })

  document.getElementById('test1').addEventListener('click', function() {
    fetch('/mysql-test/insert', {
      method: 'POST',
      credentials: 'include',
      headers: { 
        'Content-Type': 'application/json',
        'x-csrf-token': csrftoken,
      },
      body: JSON.stringify(param)
    }).then((res) => {
      res.json().then((resp) => {
        console.log('resp', resp)
      })
    })
  })

  document.getElementById('test2').addEventListener('click', () => {
    fetch('/mysql-test/update/' + 39, {
      method: 'PATCH',
      credentials: 'include',
      headers: { 
        'Content-Type': 'application/json',
        'x-csrf-token': csrftoken,
      },
      body: JSON.stringify({orderState: 5}),
    }).then(res => {
      console.log('resp', res)
    }).catch(err => {
      alert('err', err)
    })
  })
</script>
{% endblock %}