<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content="width=device-width, minimum-scale=1.0 user-scalable=no">
		<link rel="stylesheet" type="text/css" href="/static/index/win_medical/index.css">
		<script type="text/javascript">
		(function(win) {
         var doc = win.document;
         var docEl = doc.documentElement;
         var tid;

         function refreshRem() {
            var width = docEl.getBoundingClientRect().width;
            
            var rem = width / 37.5; // 将屏幕宽度分成10份， 1份为1rem
            docEl.style.fontSize = rem + 'px';

         }
         win.addEventListener('resize', function() {
            clearTimeout(tid);
            tid = setTimeout(refreshRem, 300);
         }, false);
         win.addEventListener('pageshow', function(e) {
            if (e.persisted) {
               clearTimeout(tid);
               tid = setTimeout(refreshRem, 300);
            }
         }, false);
         refreshRem();
      })(window);

		</script>
	</head>
	<body>
	<div class="wh_query">
		<div class="query_top">
			<ul>
				<li><a href="">中标数据查询</a></li>
				<li><a href="">医保查询</a></li>
				<li><a href="">CFDA数据查询</a></li>
			</ul>
		</div><!--query_top-->
		<div class="query_main zhongbiao">
			<div class="ma_input">
				<input class="input_1" type="button" value="全国">
				<input class="input_2" type="text" placeholder="输入产品/厂家名称">
				<div class="pop_area">
			<ul>
				<li>全国</li>
				<li>天津</li>
				<li>上海</li>
				<li>重庆</li>
				<li>河北</li>
				<li>河南</li>
				<li>云南</li>
				<li>辽宁</li>
				<li>湖南</li>
				<li>安徽</li>
				<li>山东</li>
				<li>新疆</li>
				<li>江苏</li>
				<li>浙江</li>
				<li>江西</li>
				<li>湖北</li>
				<li>广西</li>
				<li>甘肃</li>
				<li>山西</li>
				<li>陕西</li>
				<li>吉林</li>
				<li>福建</li>
				<li>贵州</li>
				<li>广东</li>
				<li>青海</li>
				<li>西藏</li>
				<li>四川</li>
				<li>宁夏</li>
				<li>海南</li>
				<li>台湾</li>
				<li>香港</li>
				<li>澳门</li>
				<li>黑龙江</li>
				<li>内蒙古</li>
			</ul>
		</div>
			</div><!--ma_input-->
			<div class="ma_result">
				<p>共为你找到相关结果约20个</p>
			</div><!--ma_result-->
			<div class="ma_allpro">
				<ul>
					<li>
						<div class="ma_product">
							<p class="pro_name name_length">阿苯达唑片</p>
							<p class="pro_spec pro_type">规格：200MG</p>
							<p class="pro_genre pro_type">剂型：片剂</p>
							<p class="pro_manufactor pro_type">厂家：湖北制药有限公司</p>
							<p class="pro_area pro_type">区域：湖北省</p>
							<div class="pro_grade">
								<p class="grade_name">13.90元</p>
								<p class="grade_num">中标价</p>
							</div>
						</div>
					</li>
					<li>
						<div class="ma_product">
							<p class="pro_name name_length">阿苯达唑片</p>
							<p class="pro_spec pro_type">规格：200MG</p>
							<p class="pro_genre pro_type">剂型：片剂</p>
							<p class="pro_manufactor pro_type">厂家：湖北制药有限公司</p>
							<p class="pro_area pro_type">区域：湖北省</p>
							<div class="pro_grade">
								<p class="grade_name">13.90元</p>
								<p class="grade_num">中标价</p>
							</div>
						</div>
					</li>
					<li>
						<div class="ma_product">
							<p class="pro_name name_length">阿苯达唑片</p>
							<p class="pro_spec pro_type">规格：200MG</p>
							<p class="pro_genre pro_type">剂型：片剂</p>
							<p class="pro_manufactor pro_type">厂家：湖北制药有限公司</p>
							<p class="pro_area pro_type">区域：湖北省</p>
							<div class="pro_grade">
								<p class="grade_name">13.90元</p>
								<p class="grade_num">中标价</p>
							</div>
						</div>
					</li>
				</ul>
				<ul>
					<li>
						<div class="ma_product">
							<p class="pro_name name_length">阿苯达唑片</p>
							<p class="pro_spec pro_type">规格：200MG</p>
							<p class="pro_genre pro_type">剂型：片剂</p>
							<p class="pro_manufactor pro_type">厂家：湖北制药有限公司</p>
							<p class="pro_area pro_type">区域：湖北省</p>
							<div class="pro_grade">
								<p class="grade_name">13.90元</p>
								<p class="grade_num">中标价</p>
							</div>
						</div>
					</li>
					<li>
						<div class="ma_product">
							<p class="pro_name name_length">阿苯达唑片</p>
							<p class="pro_spec pro_type">规格：200MG</p>
							<p class="pro_genre pro_type">剂型：片剂</p>
							<p class="pro_manufactor pro_type">厂家：湖北制药有限公司</p>
							<p class="pro_area pro_type">区域：湖北省</p>
							<div class="pro_grade">
								<p class="grade_name">13.90元</p>
								<p class="grade_num">中标价</p>
							</div>
						</div>
					</li>
					<li>
						<div class="ma_product">
							<p class="pro_name name_length">阿苯达唑片</p>
							<p class="pro_spec pro_type">规格：200MG</p>
							<p class="pro_genre pro_type">剂型：片剂</p>
							<p class="pro_manufactor pro_type">厂家：湖北制药有限公司</p>
							<p class="pro_area pro_type">区域：湖北省</p>
							<div class="pro_grade">
								<p class="grade_name">13.90元</p>
								<p class="grade_num">中标价</p>
							</div>
						</div>
					</li>
				</ul>
			</div><!--ma_allpro-->
			</div><!--query_main-->
		<div class="query_main yibao">
			<div class="ma_input">
				<input class="input_1" type="button" value="全国">
				<input class="input_2" type="text" placeholder="输入剂型/名称">
				<div class="pop_area">
			<ul>
				<li>全国</li>
				<li>天津</li>
				<li>上海</li>
				<li>重庆</li>
				<li>河北</li>
				<li>河南</li>
				<li>云南</li>
				<li>辽宁</li>
				<li>湖南</li>
				<li>安徽</li>
				<li>山东</li>
				<li>新疆</li>
				<li>江苏</li>
				<li>浙江</li>
				<li>江西</li>
				<li>湖北</li>
				<li>广西</li>
				<li>甘肃</li>
				<li>山西</li>
				<li>陕西</li>
				<li>吉林</li>
				<li>福建</li>
				<li>贵州</li>
				<li>广东</li>
				<li>青海</li>
				<li>西藏</li>
				<li>四川</li>
				<li>宁夏</li>
				<li>海南</li>
				<li>台湾</li>
				<li>香港</li>
				<li>澳门</li>
				<li>黑龙江</li>
				<li>内蒙古</li>
			</ul>
		</div>
			</div><!--ma_input-->
			<div class="ma_result">
				<p>共为你找到相关结果约20个</p>
			</div><!--ma_result-->
			<div class="ma_allpro">
				<ul>
					<li><a href="">
						<div class="ma_product">
							<p class="pro_name name_length">烟酰胺</p>
							<p class="pro_genre pro_type">剂型：注射剂</p>
							<p class="pro_remarks pro_type">备注：--</p>
							<p class="pro_source pro_type">来源：浙江省人力资源和社会保障厅浙江省物价局关于公布第四批复合西药的通知</p>
							<div class="pro_grade">
								<p class="grade_name">乙类</p>
								<p class="grade_num">编号9</p>
							</div>
						</div>
					</a></li>
					<li><a href="">
						<div class="ma_product">
							<p class="pro_name name_length">烟酰胺</p>
							<p class="pro_genre pro_type">剂型：注射剂</p>
							<p class="pro_remarks pro_type">备注：--</p>
							<p class="pro_source pro_type">来源：浙江省人力资源和社会保障厅浙江省物价局关于公布第四批复合西药的通知</p>
							<div class="pro_grade">
								<p class="grade_name">乙类</p>
								<p class="grade_num">编号9</p>
							</div>
						</div>
					</a></li>
					<li><a href="">
						<div class="ma_product">
							<p class="pro_name name_length">烟酰胺</p>
							<p class="pro_genre pro_type">剂型：注射剂</p>
							<p class="pro_remarks pro_type">备注：--</p>
							<p class="pro_source pro_type">来源：浙江省人力资源和社会保障厅浙江省物价局关于公布第四批复合西药的通知</p>
							<div class="pro_grade">
								<p class="grade_name">乙类</p>
								<p class="grade_num">编号9</p>
							</div>
						</div>
					</a></li>
				</ul>
				<ul>
					<li><a href="">
						<div class="ma_product">
							<p class="pro_name name_length">烟酰胺</p>
							<p class="pro_genre pro_type">剂型：注射剂</p>
							<p class="pro_remarks pro_type">备注：--</p>
							<p class="pro_source pro_type">来源：浙江省人力资源和社会保障厅浙江省物价局关于公布第四批复合西药的通知</p>
							<div class="pro_grade">
								<p class="grade_name">乙类</p>
								<p class="grade_num">编号9</p>
							</div>
						</div>
					</a></li>
					<li><a href="">
						<div class="ma_product">
							<p class="pro_name name_length">烟酰胺</p>
							<p class="pro_genre pro_type">剂型：注射剂</p>
							<p class="pro_remarks pro_type">备注：--</p>
							<p class="pro_source pro_type">来源：浙江省人力资源和社会保障厅浙江省物价局关于公布第四批复合西药的通知</p>
							<div class="pro_grade">
								<p class="grade_name">乙类</p>
								<p class="grade_num">编号9</p>
							</div>
						</div>
					</a></li>
					<li><a href="">
						<div class="ma_product">
							<p class="pro_name name_length">烟酰胺</p>
							<p class="pro_genre pro_type">剂型：注射剂</p>
							<p class="pro_remarks pro_type">备注：--</p>
							<p class="pro_source pro_type">来源：浙江省人力资源和社会保障厅浙江省物价局关于公布第四批复合西药的通知</p>
							<div class="pro_grade">
								<p class="grade_name">乙类</p>
								<p class="grade_num">编号9</p>
							</div>
						</div>
					</a></li>
				</ul>
			</div>
		</div><!--query_main-->
		<div class="query_main CFDA">
			<div class="ma_input">
				<input class="input_1" type="button" value="全国">
				<input class="input_2" type="text" placeholder="输入剂型/名称">
				<div class="pop_area">
			<ul>
				<li>全国</li>
				<li>天津</li>
				<li>上海</li>
				<li>重庆</li>
				<li>河北</li>
				<li>河南</li>
				<li>云南</li>
				<li>辽宁</li>
				<li>湖南</li>
				<li>安徽</li>
				<li>山东</li>
				<li>新疆</li>
				<li>江苏</li>
				<li>浙江</li>
				<li>江西</li>
				<li>湖北</li>
				<li>广西</li>
				<li>甘肃</li>
				<li>山西</li>
				<li>陕西</li>
				<li>吉林</li>
				<li>福建</li>
				<li>贵州</li>
				<li>广东</li>
				<li>青海</li>
				<li>西藏</li>
				<li>四川</li>
				<li>宁夏</li>
				<li>海南</li>
				<li>台湾</li>
				<li>香港</li>
				<li>澳门</li>
				<li>黑龙江</li>
				<li>内蒙古</li>
			</ul>
		</div>
			</div><!--ma_input-->
			<div class="ma_result">
				<p>共为你找到相关结果约20个</p>
			</div><!--ma_result-->
			<div class="ma_allpro">
				<ul>
					<li>
						<div class="ma_product">
							<p class="pro_name">N端B型钠尿肽前体（NT-proBNP）定量检测试剂盒（免疫荧光法）</p>
							<p class="pro_number pro_type">批文号/注册号：粤械注准20142400125</p>
							<p class="pro_category pro_type">产品类别：器械</p>
							<p class="pro_model pro_type">规格/型号：型号M101-091005;规格25人份/盒</p>
							<p class="pro_manufactor pro_type">生产厂商：深圳微店生物技术有限公司</p>
						</div>
					</li>
					<li>
						<div class="ma_product">
							<p class="pro_name">N端B型钠尿肽前体（NT-proBNP）定量检测试剂盒（免疫荧光法）</p>
							<p class="pro_number pro_type">批文号/注册号：粤械注准20142400125</p>
							<p class="pro_category pro_type">产品类别：器械</p>
							<p class="pro_model pro_type">规格/型号：型号M101-091005;规格25人份/盒</p>
							<p class="pro_manufactor pro_type">生产厂商：深圳微店生物技术有限公司</p>
						</div>
					</li>
					<li>
						<div class="ma_product">
							<p class="pro_name">N端B型钠尿肽前体（NT-proBNP）定量检测试剂盒（免疫荧光法）</p>
							<p class="pro_number pro_type">批文号/注册号：粤械注准20142400125</p>
							<p class="pro_category pro_type">产品类别：器械</p>
							<p class="pro_model pro_type">规格/型号：型号M101-091005;规格25人份/盒</p>
							<p class="pro_manufactor pro_type">生产厂商：深圳微店生物技术有限公司</p>
						</div>
					</li>
				</ul>
				<ul>
					<li>
						<div class="ma_product">
							<p class="pro_name">N端B型钠尿肽前体（NT-proBNP）定量检测试剂盒（免疫荧光法）</p>
							<p class="pro_number pro_type">批文号/注册号：粤械注准20142400125</p>
							<p class="pro_category pro_type">产品类别：器械</p>
							<p class="pro_model pro_type">规格/型号：型号M101-091005;规格25人份/盒</p>
							<p class="pro_manufactor pro_type">生产厂商：深圳微店生物技术有限公司</p>
						</div>
					</li>
					<li>
						<div class="ma_product">
							<p class="pro_name">N端B型钠尿肽前体（NT-proBNP）定量检测试剂盒（免疫荧光法）</p>
							<p class="pro_number pro_type">批文号/注册号：粤械注准20142400125</p>
							<p class="pro_category pro_type">产品类别：器械</p>
							<p class="pro_model pro_type">规格/型号：型号M101-091005;规格25人份/盒</p>
							<p class="pro_manufactor pro_type">生产厂商：深圳微店生物技术有限公司</p>
						</div>
					</li>
					<li>
						<div class="ma_product">
							<p class="pro_name">N端B型钠尿肽前体（NT-proBNP）定量检测试剂盒（免疫荧光法）</p>
							<p class="pro_number pro_type">批文号/注册号：粤械注准20142400125</p>
							<p class="pro_category pro_type">产品类别：器械</p>
							<p class="pro_model pro_type">规格/型号：型号M101-091005;规格25人份/盒</p>
							<p class="pro_manufactor pro_type">生产厂商：深圳微店生物技术有限公司</p>
						</div>
					</li>
				</ul>
			</div>
		</div><!--query_main-->	

	</div>
		
	</body>
</html>