@charset "UTF-8";
html {
  font-size: 14px;
}
body {
  color: #646464;
  margin: 0;
  padding: 0;
  cursor: default;
}
a {
  color: #323232;
}
ul {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
}
.head {
  height: 88px;
}
.head_bottom {
  line-height: 88px;
  text-align: left;
  font-size: 18px;
}
.all_content {
  width: 1150px;
  margin: 0 auto;
}
.tab-con > .tab-pane {
  display: none;
}
.tab-con > .active {
  display: block;
}
.content .list_left {
  float: left;
  margin-right: 50px;
}
.content .list_left .show_img {
  margin-bottom: 50px;
}
.content .list_left .show_img .big_img {
  width: 388px;
  height: 390px;
  border: 1px solid #efefef;
  background-color: #fafafa;
  margin-bottom: 25px;
}
.content .list_left .show_img .img_list {
  height: 55px;
}
.content .list_left .show_img .img_list ul li {
  width: 54px;
  height: 54px;
  float: left;
  background-color: #fafafa;
  border: 3px solid #fafafa;
  margin: 0 10px;
}
.content .list_left .show_img .img_list ul li:focus,
.content .list_left .show_img .img_list ul li:hover,
.content .list_left .show_img .img_list ul li.active {
  border: 3px solid #358eec;
}
.content .list_left .shop {
  width: 388px;
  height: 168px;
  border: 1px solid #efefef;
  margin-bottom: 30px;
}
.content .list_left .shop .shop_name {
  line-height: 48px;
  padding: 0 24px;
  font-size: 18px;
  border-bottom: 1px solid #efefef;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .list_left .shop .shop_con {
  padding: 15px 23px;
  height: 118px;
}
.content .list_left .shop .shop_con .shop_img {
  width: 86px;
  height: 86px;
  background-color: black;
  float: left;
}
.content .list_left .shop .shop_con .shop_de {
  margin-left: 18px;
  float: left;
}
.content .list_left .shop .shop_con .shop_de ul li {
  line-height: 30px;
}
.content .list_left .products {
  height: auto;
  border: 1px solid #efefef;
  margin-bottom: 30px;
}
.content .list_left .products .products_head {
  line-height: 48px;
  font-size: 18px;
  padding-left: 24px;
  border-bottom: 1px solid #efefef;
}
.content .list_left .products .products_list > ul > li {
  border-bottom: 1px solid #efefef;
  width: 342px;
  height: 108px;
  padding: 20px 23px;
}
.content .list_left .products .products_list > ul > li .products_img {
  width: 108px;
  height: 108px;
  background-color: black;
  float: left;
}
.content .list_left .products .products_list > ul > li .products_de {
  float: left;
  margin-left: 20px;
}
.content .list_left .products .products_list > ul > li .products_de ul li {
  line-height: 27px;
  width: 214px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .list_right {
  float: left;
}
.content .list_right .med_name {
  border: 1px solid #efefef;
  height: 150px;
  width: 648px;
  padding: 20px 30px;
  margin-bottom: 30px;
}
.content .list_right .med_name .med_head {
  font-size: 18px;
  line-height: 36px;
  font-weight: bold;
}
.content .list_right .med_name .med_con ul li {
  line-height: 30px;
  width: 100%;
  display: block;
}
.content .list_right .med_name .med_con ul li > span {
  width: 48%;
  margin-left: 2%;
  float: left;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .list_right .med_name .med_con ul li > span:first-child {
  margin-left: 0;
}
.content .list_right .inv_details {
  background-color: #fafafa;
  height: 560px;
  width: 670px;
  margin-bottom: 30px;
  padding: 15px 20px;
}
.content .list_right .inv_details .inv_head {
  font-size: 18px;
  padding: 18px 0;
  border-bottom: 1px solid #efefef;
}
.content .list_right .inv_details .inv_head .ih_name {
  border-left: 6px solid #0078db;
  padding-left: 24px;
}
.content .list_right .inv_details .inv_con ul li {
  line-height: 40px;
  font-size: 16px;
}
.content .list_right .inv_details .inv_con .half {
  width: 50%;
  float: left;
}
.content .list_right .inv_details .inv_con .bottom {
  color: #0078db;
  font-weight: bold;
}
.content .detail_tabs {
  width: 710px;
  margin-bottom: 50px;
}
.content .detail_tabs .nav {
  border-bottom: 1px solid #efefef;
  height: 48px;
  background-color: #fafafa;
}
.content .detail_tabs .nav li {
  text-align: center;
  font-size: 18px;
  float: left;
  width: 20%;
  line-height: 48px;
}
.content .detail_tabs .nav li:focus,
.content .detail_tabs .nav li.active {
  border-top: 3px solid #0078db;
  background-color: #fff;
}
.content .detail_tabs .tab-con {
  /*图文详情*/
  /*最新评论*/
  /*产品文献 */
  /*招商区域*/
  /*招商经理*/
}
.content .detail_tabs .tab-con .pic_detail {
  padding: 30px;
}
.content .detail_tabs .tab-con .pic_detail .big_img {
  max-width: 648px;
  height: auto;
  background-color: red;
}
.content .detail_tabs .tab-con .pic_detail .pd_con ul li {
  line-height: 35px;
  font-size: 16px;
}
.content .detail_tabs .tab-con .new_reviews ul li {
  border-bottom: 1px solid #efefef;
  padding: 25px 30px;
  min-height: 84px;
  color: #323232;
}
.content .detail_tabs .tab-con .new_reviews ul li > div {
  display: block;
  float: left;
}
.content .detail_tabs .tab-con .new_reviews ul li .nr_left {
  width: 60px;
  text-align: center;
}
.content .detail_tabs .tab-con .new_reviews ul li .nr_left > img {
  display: block;
  width: 60px;
  height: 60px;
}
.content .detail_tabs .tab-con .new_reviews ul li .nr_left > span {
  line-height: 25px;
}
.content .detail_tabs .tab-con .new_reviews ul li .nr_middle {
  width: 435px;
  padding: 0 20px;
  text-align: center;
  line-height: 27px;
  font-size: 16px;
}
.content .detail_tabs .tab-con .new_reviews ul li .nr_right {
  width: 115px;
  text-align: right;
  color: #999999;
}
.content .detail_tabs .tab-con .pro_doc {
  padding: 20px 30px;
}
.content .detail_tabs .tab-con .pro_doc ul li {
  line-height: 40px;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list {
  margin-bottom: 2px;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list .list_head {
  height: 46px;
  line-height: 48px;
  background-color: #fafafa;
  padding: 2px 30px;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list .list_head > div {
  float: left;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list .list_head .lh_place {
  text-align: left;
  width: 110px;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list .list_head .lh_type {
  width: 300px;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list .list_head .lh_type span {
  margin-left: 20px;
  padding: 4px 10px;
  border-radius: 5px;
  text-align: center;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list .list_head .lh_type .green {
  border: 1px solid #50bb26;
  color: #50bb26;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list .list_head .lh_type .blue {
  border: 1px solid #30b2fb;
  color: #30b2fb;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list .list_head .lh_number {
  width: 240px;
  text-align: right;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list .list_content {
  padding: 0 30px;
  display: none;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list .list_content .lc_city {
  padding: 15px 20px;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list .list_content .lc_city .head {
  line-height: 40px;
  height: auto;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list .list_content .lc_city > ul li {
  line-height: 35px;
  float: left;
  padding-right: 50px;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list .list_content .lc_hospital {
  padding: 0 20px;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list .list_content .lc_hospital .head {
  line-height: 40px;
  height: auto;
  border-top: 1px solid #efefef;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list .list_content .lc_hospital > ul li {
  line-height: 45px;
}
.content .detail_tabs .tab-con .inv_place .inv_place_list .list_content .lc_hospital > ul li > span {
  font-size: 16px;
  border: 1px solid #efefef;
  color: #0078db;
  border-radius: 5px;
  width: 54px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: block;
  float: right;
  margin-left: 30px;
}
.content .detail_tabs .tab-con .inv_manager {
  padding: 15px 30px;
  font-size: 16px;
}
.content .detail_tabs .tab-con .inv_manager .im_left {
  float: left;
}
.content .detail_tabs .tab-con .inv_manager .im_left .head {
  line-height: 60px;
  font-size: 18px;
  height: 60px;
}
.content .detail_tabs .tab-con .inv_manager .im_left .content ul li {
  line-height: 35px;
}
.content .detail_tabs .tab-con .inv_manager .im_right {
  float: right;
}
.content .detail_tabs .tab-con .inv_manager .im_right .right_head a {
  text-decoration: none;
  background-color: #0078db;
  color: #fff;
  width: 120px;
  height: 40px;
  line-height: 40px;
  display: block;
  border-radius: 5px;
  text-align: center;
}
.content .detail_tabs .tab-con .inv_manager .im_right .right_con {
  padding: 8px;
  border: 1px solid #efefef;
  margin-top: 20%;
}
.content .detail_tabs .tab-con .inv_manager .im_right .right_con img {
  width: 108px;
  height: 108px;
}
