<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1,user-scalable=no">
    <title>订单管理</title>
    <style>
    body {
        font-family: "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB", "helvetica neue", helvetica, arial, Sans-serif, "Hiragino Sans GB", "Hiragino Sans GB W3", "SimHei";
        padding: 0;
        margin: 0;
    }
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}/purchase/css/order_manage.css?v=2">
    <script>
    (function(win) {
        var doc = win.document;
        var docEl = doc.documentElement;
        var tid;

        function refreshRem() {
            var width = docEl.getBoundingClientRect().width;

            var rem = width / 37.5; // 将屏幕宽度分成10份， 1份为1rem
            docEl.style.fontSize = rem + 'px';

        }
        win.addEventListener('resize', function() {
            clearTimeout(tid);
            tid = setTimeout(refreshRem, 300);
        }, false);
        win.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                clearTimeout(tid);
                tid = setTimeout(refreshRem, 300);
            }
        }, false);
        refreshRem();
    })(window);
    </script>
    <script src="{{STATIC_URL}}js/jalert/jalert.js"></script>
    <script src="{{ STATIC_URL }}lib/reqwest.min.js"></script>
    <script src="{{ STATIC_URL }}js/user/vue.min.js"></script>
</head>

<body>
    <script>
    // appToken
    var appToken;
    var bridge;
    </script>
    <script>
        Vue.filter('getSumCnt', function(skus) {
            var sum = 0;
            for (var i = 0; i < skus.length; i++) {
                sum += skus[i].num;
            }
            return sum;
        })
        Vue.filter('getSumMoney', function(skus) {
            var sum = 0;
            for (var i = 0; i < skus.length; i++) {
                sum += skus[i].num * Number(skus[i].price);
            }
            return sum.toFixed(2);
        })
        Vue.filter('getCNTime', function(timeStr) {
            var timeArr = /(\d+)-(\d+)-(\d+)T(\d+):(\d+):(\d+)/.exec(timeStr)

            return timeArr[1] + "年" + timeArr[2] + "月" + timeArr[3] + "日" + timeArr[4] + ":" + timeArr[5] + ":" + timeArr[6];
        })
        Vue.filter('getSumMoneyRefund', function(order) {
            var sum = order.num * Number(order.price);

            return sum.toFixed(2);
        })
    </script>
    {% verbatim %}
    <template id="order-template">
        <ul class="order-list" style="padding-bottom: 5rem;">
            <li v-for="order in orderList" class="orider-item">
                <a @click="leave(order.id)" href="javascript:void(0)">
                    <div class="item-header percent100">
                        <div class="line-l">
                            <span>订单号：{{ order.number }}</span>
                            <span class="arrow">></span>
                        </div>
                        <div class="line-r">
                            <span>{{ orderStateMap[order.order_state] }}</span>
                        </div>
                    </div>
                    <div class="item-list">
                        <div v-for="sku in order.order_skus" class="item-con percent100">
                            <div class="con-left">
                                <div class="img-wrapper">
                                    <img v-if="sku.sku.pic!=null" v-bind:src="sku.sku.pic" alt="{{ sku.sku.name }}">
                                    <img v-if="sku.sku.pic==null" {% endverbatim %} src="
                                    {{STATIC_URL}}images/no_pic_150.jpg" {% verbatim %} alt="{{ sku.sku.name }}">
                                </div>
                            </div>
                            <div class="con-right">
                                <div class="right-line percent100">
                                    <div class="line-l item-title">
                                        {{ sku.sku.name }}
                                    </div>
                                    <div class="line-r">￥{{ sku.price }}*{{ sku.num }}</div>
                                </div>
                                <div class="right-line">
                                    <div class="line-l info">剂型：{{ sku.sku.dosage_form }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- <div class="item-price">
                    <div class="percent100">
                        <div class="line-l">
                            订金金额：
                        </div>
                        <div class="line-r">￥360</div>
                    </div>  
                    <div class="percent100">
                        <div class="line-l">
                            尾金金额：
                        </div>
                        <div class="line-r">￥3240</div>
                    </div>
                </div> -->
                <div class="item-footer">
                    <div class="sumary">
                        <span>共计{{ order.order_skus.length }}款产品</span>
                        <span class="sum-cnt">{{ order.order_skus | getSumCnt }}件</span>
                        <span>合计：</span><span class="sum-money">￥{{ order.order_skus | getSumMoney }}</span>
                    </div>
                    <div class="footer-bar percent100">
                        <div class="percent50"><span>{{ order.create_time|getCNTime }}</span></div>
                        <div class="percent50 op-area">
                        </div>
                    </div>
                </div>
            </li>
            <li @click="appendList" v-if="next"><p style="text-align:center;color:#30b2fb;font-size:1.4rem">点击加载更多</p></li>
        </ul>
    </template>
    <script type="text/javascript">
    var orderList = Vue.extend({
        template: '#order-template',
        data: function(){
            return{
                next: null,
                orderList: [],
                orderStateMap: {
                    "2": "待厂家审核",
                    "3": "下单成功",
                    "4": "已发货",
                    "5": "交易完成",
                    "6": "有退货",
                    "10": "订单关闭"
                }
            }
        },
        ready: function() {
            var self = this;
             alert(' to loading order')
            reqwest({
                url: '/purchase/api/proxy/order/list/',
                method: 'get',
                headers: {
                    'Authorization': appToken,
                },
                success: function(orderData) {
                    console.log(orderData);
                    self.orderList = orderData.results;
                    self.next = orderData.next;
                    alert('loading order')
                }
            })
        },
        methods: {
            appendList: function(){
                var self = this;
                reqwest({
                    url: self.next,
                    method: 'get',
                    headers: {
                        'Authorization': appToken,
                    },
                    success: function(orderData) {
                        self.orderList = self.orderList.concat(orderData.results);
                        self.next = orderData.next;
                    }
                })
            },
            leave: function(id){
                var obj = {
                    type: 'order',
                    oid: id
                }
                this.$dispatch('bridgeEvt', obj)
            }
        }
    })
    Vue.component('order-list', orderList)
    </script>
    {% endverbatim %}

    {% verbatim %}
    <template id="redundorder-template">
        <ul class="order-list" style="padding-bottom: 5rem;">
            <li v-for="order in orderList" class="orider-item">
                <a @click="leave(order.id)" href="javascript:void(0)">
                    <div class="item-header percent100">
                        <div class="line-l">
                            <span>退货单号：{{ order.number }}</span>
                            <span class="arrow">></span>
                        </div>
                        <div class="line-r">
                            <span>{{ orderStateMap[order.refund_state] }}</span>
                        </div>
                    </div>
                    <div class="item-list">
                        <div class="item-con percent100">
                            <div class="con-left">
                                <div class="img-wrapper">
                                    <img v-if="order.sku.pic!=null" v-bind:src="order.sku.pic" alt="{{ order.sku.name }}">
                                    <img v-if="order.sku.pic==null" {% endverbatim %} src="
                                    {{STATIC_URL}}images/no_pic_150.jpg" {% verbatim %} alt="{{ order.sku.name }}">
                                </div>
                            </div>
                            <div class="con-right">
                                <div class="right-line percent100">
                                    <div class="line-l item-title">
                                        {{ order.sku.name }}
                                    </div>
                                    <div class="line-r">￥{{ order.price }}*{{ order.num }}</div>
                                </div>
                                <div class="right-line">
                                    <div class="line-l info">剂型：{{ order.sku.dosage_form }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- <div class="item-price">
                    <div class="percent100">
                        <div class="line-l">
                            订金金额：
                        </div>
                        <div class="line-r">￥360</div>
                    </div>  
                    <div class="percent100">
                        <div class="line-l">
                            尾金金额：
                        </div>
                        <div class="line-r">￥3240</div>
                    </div>
                </div> -->
                <div class="item-footer">
                    <div class="sumary">
                        <span>共计1款产品</span>
                        <span class="sum-cnt">{{ order.num }}件</span>
                        <span>合计：</span><span class="sum-money">￥{{ order.remain }}</span>
                    </div>
                    <div class="footer-bar percent100">
                        <div class="percent50"><span>{{ order.create_time|getCNTime }}</span></div>
                        <div class="percent50 op-area">
                            <button @click="confirmOperate(3, order.id)" v-if="order.refund_state==1||order.refund_state==3||order.refund_state==4||order.refund_state==7" class="blue">同意</button>
                            <button @click="confirmOperate(2, order.id)" v-if="order.refund_state==1||order.refund_state==3||order.refund_state==4||order.refund_state==7" class="gray">拒绝</button>
                            <button @click="confirmOperate(4, order.id)" v-if="order.refund_state==9" class="blue">确认收货</button>
                        </div>
                    </div>
                </div>
            </li>
            <li @click="appendList" v-if="next"><p style="text-align:center;color:#30b2fb;font-size:1.4rem">点击加载更多</p></li>
        </ul>
        <div class="confirm-cover" :style="{display: showConfirm}">
            <div class="confirm-win">
                <span>{{ confirmText }}</span> <br>
                <div class="confirm-operate">
                    <input type="button" class="concel"  @click="confirmOperate(0)" value="取消">
                    <input type="button" class="call" @click="confirmOperate(1)" value="确定">
                </div>
            </div>
        </div>
    </template>
    <script type="text/javascript">
        var refundList = Vue.extend({
            template: '#redundorder-template',
            data: function(){
                return{
                    next: null,
                    orderList: [],
                    orderRefundId: 0,
                    orderStateMap: {
                        "0": "取消退货",
                        "1": "待审核",
                        "2": "待商业公司/平台审核",
                        "3": "待审核",
                        "4": "待审核",
                        "5": "待平台审核",
                        "6": "待商业公司审核",
                        "7": "待审核",
                        "8": "待药店退货",
                        "9": "待厂家收货",
                        "10": "退货成功",
                        "11": "商业公司拒绝退货",
                        "12": "厂家拒绝退货",
                        "13": "平台拒绝退货",
                        "14": "客服介入",
                        "15": "退货失败"
                    },
                    showConfirm: 'none',
                    confirmState: 0,
                    confirmText: '',
                    confirmId: null,
                } 
            },
            ready: function() {
                alert('to loading refund order')
                var self = this;
                reqwest({
                    url: '/purchase/api/proxy/refundorder/list/',
                    method: 'get',
                    headers: {
                        'Authorization': appToken,
                    },
                    success: function(orderData) {
                        self.orderList = orderData.results;
                        self.next = orderData.next;
                        alert('loading refund order')
                    }
                })
            },
            methods: {
                leave: function(id){
                    var obj = {
                        type: 'refund',
                        oid: id
                    }
                    this.$dispatch('bridgeEvt', obj)
                },
                appendList: function(){
                    var self = this;
                    reqwest({
                        url: self.next,
                        method: 'get',
                        headers: {
                            'Authorization': appToken,
                        },
                        success: function(orderData) {
                            self.orderList = self.orderList.concat(orderData.results);
                            self.next = orderData.next;
                        }
                    })
                },

                confirmOperate: function(state, id) {
                    if(state === 0) {
                        this.showConfirm = 'none'
                        return
                    } else if(state === 1) {
                        this.showConfirm = 'none'
                        if(this.confirmState === 2) {
                            this.refuseOP(this.confirmId)
                        } else if(this.confirmState === 3) { 
                            this.agreeOP(this.confirmId)
                        } else if (this.confirmState === 4) { 
                            this.acceptOP(this.confirmId)
                        }
                    } else if(state === 2) {
                        this.confirmState = 2
                        this.confirmText = '拒绝退货?'
                        this.showConfirm = 'block'
                        this.confirmId = id
                    } else if(state === 3) {
                        this.confirmState = 3
                        this.confirmText = '同意退货？'
                        this.showConfirm = 'block'
                        this.confirmId = id
                    } else if(state ===4 ) {
                        this.confirmState = 4
                        this.confirmText = '确认收货？'
                        this.showConfirm = 'block'
                        this.confirmId = id
                    }
                },

                agreeOP: function(id) {
                    var self = this;
                    alert('agreeOP id: ' + id)
                    reqwest({
                        url: '/purchase/api/proxy/refundorder/' + id,
                        contentType: "application/json;charset=utf-8;",
                        method: 'patch',
                        headers: {
                            'Authorization': appToken,
                        },
                        data: JSON.stringify({}),
                        success: function(resp) {
                            Jalert('操作成功');
                            for (var i = 0; i < self.orderList.length; i++) {
                                if (id == self.orderList[i].id) {
                                    self.orderList[i].refund_state = resp.refund_state;
                                }
                            }
                        }
                    })
                },
                refuseOP: function(id){
                    var self = this;
                    reqwest({
                        url: '/purchase/api/proxy/refundorder/' + id,
                        contentType: "application/json;charset=utf-8;",
                        method: 'patch',
                        headers: {
                            'Authorization': appToken,
                        },
                        data: JSON.stringify({refund_state: 12}),
                        success: function(resp) {
                            Jalert('操作成功');
                            for (var i = 0; i < self.orderList.length; i++) {
                                if (id == self.orderList[i].id) {
                                    self.orderList[i].refund_state = resp.refund_state;
                                }
                            }
                        }
                    })

                },
                acceptOP: function(id) {
                    var self = this;
                    reqwest({
                        url: '/purchase/api/proxy/refundorder/' + id,
                        contentType: "application/json;charset=utf-8;",
                        method: 'patch',
                        headers: {
                            'Authorization': appToken,
                        },
                        data: JSON.stringify({refund_state: 10}),
                        success: function(resp) {
                            Jalert('操作成功');
                            for (var i = 0; i < self.orderList.length; i++) {
                                if (id == self.orderList[i].id) {
                                    self.orderList[i].refund_state = resp.refund_state;
                                }
                            }
                        }
                    })
                }
            }
        });
        Vue.component('refund-list', refundList)
    </script>
    {% endverbatim %}
    {% verbatim %}
    <div id="vue-app">
    </div>
    <template id="app-template">
        <style>
        body{
            padding-top:4.8rem;
        }
        .nav {
            font-size: 1.4rem;
            color: #323232;
            z-index: 100;
            background: #fff;
        }
        .gridBar {
            width: 100%;
            overflow: hidden;
            text-align: center;
        }
        .fixed {
            position: fixed;
            left: 0;
            top: 0;
        }
        .nav .sp {
            padding: 3% 0;
            display: inline-block;
            text-align: center;
            float: left;
        }
        .gridBar .bar2 {
            width: 50%;
        }
        .nav .active {
            color: #30b2fb;
            border-bottom: 2px solid #30b2fb;
        }
        </style>
        <nav class="nav gridBar fixed">
          <span v-bind:class="tab==1?'active':''" @click="tab=1" class="bar2 sp">订货订单列表</span>
          <span v-bind:class="tab==2?'active':''" @click="tab=2" class="bar2 sp">退货订单列表</span>
        </nav>
        <order-list v-if="tab==1"></order-list>
        <refund-list v-if="tab==2"></refund-list>
    </template>
    <script>
    function connectWebViewJavascriptBridge(callback) {
        if (window.WebViewJavascriptBridge) {
            callback(WebViewJavascriptBridge)
        } else {
            document.addEventListener('WebViewJavascriptBridgeReady', function () {
                callback(WebViewJavascriptBridge)
            }, false)
        }
    }
    connectWebViewJavascriptBridge(function (bridge) {
        bridge = bridge;
        bridge.init(function (message, responseCallback) {
            appToken = 'token\ \ '+message;
            var data = {'Javascript Responds': 'Wee!'}
            alert('bridge inited')
            new Vue({
                el: "#vue-app",
                template: "#app-template",
                data:{
                    tab: 1,
                },

                events: {
                    'bridgeEvt': function(obj) {
                        bridge.send(JSON.stringify(obj),function(responseData){
                        console.log(responseData);
                    })
                    }
                },
                ready: function(){
                    if(/notice_type=2/.test(location.href)) {
                        this.tab = 2
                    }
                },

            });
            responseCallback(data)
        })
    })
    </script>
    {% endverbatim %}
</body>

</html>