<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content="width=device-width, minimum-scale=1.0 user-scalable=no">
    <link rel="stylesheet" href="/static/common/swiper/swiper.min.css"></link>
    <link rel="stylesheet" href="/static/index/home/index.css">
    <title>医药新势力</title>
    </head>
    <body>
      <div class="whole">
      <div class='nav-wrraper'>
        <div class="nav_index">
        <div class="logo">
          <img src="/static/index/home/resource/index-logo.png">
        </div>
        <div class="nav_list" id="tz-menu-list">
          <ul>
            <li><a href="/">首页</a></li>
<!--             <li><a href="">产品录入</a></li>
            <li><a href="">活动发布</a></li> -->
            <li><a href="//www.eyaos.com/product/tool">中标医保查询</a></li>
            <li><a href="//www.eyaos.com/information/news/">医药资讯</a></li>
            <li><a href="//www.eyaos.com/html/renzheng/cailiao">药企通</a></li>
          </ul>
        </div>
        <div class="login">
          {% if data.login.is_login %}
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ data.login.nick }}<b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu">
                      {% if data.login.is_manage %}
                      <li>
                          <span class="iconImg icon-set"></span><a href={{ url }}/news/list>管理中心</a>
                      </li>
                      {% endif %}
                      <li>
                          <span class="iconImg icon-set"></span><a href={{ url }}/user>个人中心</a>
                      </li>
                      <li>
                          <span class="iconImg icon-set"></span><a href={{ url }}/logout>退出中心</a>
                      </li>
                  </ul>
            </li>
          {% else %}
            <input class="input_1" id="tz-menu-login" type="button" value="登录" onclick="location.href='{{ url }}/login'"> 
            <!-- <input class="input_2" type="button" value="注册"> -->
          {% endif %}

        </div>
        <div id="index-menulist" class="but_list">
          <img src="./static/index/home/resource/button-1.png">
        </div>
      </div><!--nav-->
     </div>
      <div class="roll">
        <div class="swiper-container" id='home-slider' style="width: 100%; height: 100%;">
          <div class="swiper-wrapper" >
          {% for item in data.banners %}
          <div class="swiper-slide"><a href={{item.goto_url}}><img style="width: 100%; height: 100%" src={{item.img_url}}></a></div>
          {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev" id='button-prev'></div>
          <div class="swiper-button-next" id='button-next'></div>
        </div>
      </div><!--roll-->
      <div class="mainbody">
        <div class="main new_sku" style="overflow: auto;">
          <p class="header">最新发布产品</p>
          <div class="main_list sku_main min_list">
            <ul>
           {% for item in data.skus %}
             <li><a href={{item.goto_url}}>
               <div class="sku_img">
                 <img src={{item.cover_pic}}>
               </div>
               <div class="sku_con">
                 <p class="sku_name">{{item.name}}</p>
                 <p class="sku_area">查看代理区域</p>
               </div>
             </a></li>
           {% endfor %}
          </ul>
          </div>
          <div class="col zhongbiao">
            <p class="header">中标数据查询</p>
            <div class="col_con">
            <input class="con input" type="text" placeholder="请输入您要搜索的内容">
              <select class="area input" >
                <option value="0">全国</option>
                <option value="1">北京</option>
                <option value="2">上海</option>
                <option value="3">浙江</option>
                <option value="4">山东</option>
                <option value="5">河南</option>
                <option value="6">重庆</option>
              </select>
              <a href="http://www.eyaos.com/product/tool"><input class="butt" type="submit" value="中标查询"></a>
            </div>
          </div>
        </div><!--sku-->
                <div class="main agent" style="overflow: auto;">                
                    <p class="header">代理商信息</p>
                    <div class="agent_list min_list">
                      <ul>
                      {% for item in data.proxies %}
                         <li>
                         <a href={{item.goto_url}} style="text-decoration: none">
                           <div class="agent_p">
                            <img src={{item.avatar}}>
                            <div class="agent_per">
                            <p class="agent_name">{{item.nick}}</p>
                            <p class="agent_k">{{item.proxy_type}}</p>
                            </div>
                          </div>
                          <div class="agent_con">
                            <p class="agent_area">{{item.proxy_areas}}</p>
                            <p class="agent_foll">{{item.inds}}</p>
                          </div>
                         </a> 
                        </li>
                      {% endfor %}
                      </ul>
                    </div>
                </div><!--agent-->
                <div class="main enterprise">
                  <p class="header">优质企业</p>
                  <div class="main_list enterprise min_list">
                    <ul style="margin-left: -47px;">
                    {% for item in data.enters %}
                      <li><a href={{item.goto_url}}>
                        <div class="enter_logo">
                          <img src={{item.logo_url}}>
                        </div>
                        <p class="enter_name">{{item.name}}</p>
                        </a>
                      </li>
                    {% endfor%}
                    </ul>
                  </div>
                </div><!--enterprise-->
                <div class="col company">
                  <p class="header">药企通介绍</p>
                  <input class="butt center" type="button" value="加入药企通">
              </div>
              <div class="main information">
              <p class="header">医药资讯</p>
              <div class="main_list min_list">
                <ul>
                {% for item in data.msgs %}
                  <li>
                    <a href={{item.goto_url}}>
                      <div class="logo">
                        <img src="./static/index/home/resource/msg-1.png">
                        </div>                  
                        <p class="con">{{item.title}}</p>
                        <p class="time">{{item.create_time}}</p>
                    </a>
                  </li>
                {% endfor %}
                </ul>
              </div>
                
              </div><!--information-->
              <div class="col circle">
                  <p class="header">医药圈介绍</p>
                  <input class="butt center" type="button" value="加入医药圈">
              </div>
              <div class="main recruit left">
                <p class="header">求职招聘</p>
                <div class="recr_list min_list">
                  <ul>
                    {% for item in data.hires_left %}
                      <li><a href={{item.goto_url}}>
                        <p class="recr_name">{{item.job_type}}</p>
                        <p class="recr_company f_color">{{item.company}}</p>
                        <p class="recr_salary">{{item.salary_min}}~{{item.salary_max}}</p>
                        <p class="recr_area f_color" title={{item.area}}>{{item.area}}</p>
                        <p class="recr_time f_color">{{item.create_time}}</p>
                      </a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div><!--recruit-->
              <div class="main recruit recr_right">
                <p class="header">求职招聘</p>
                <div class="recr_list min_list">
                  <ul>
                    {% for item in data.hires_right %}
                      <li><a href={{item.goto_url}}>
                        <p class="recr_name">{{item.job_type}}</p>
                        <p class="recr_company f_color">{{item.company}}</p>
                        <p class="recr_salary">{{item.salary_min}}~{{item.salary_max}}</p>
                        <p class="recr_area f_color">{{item.area}}</p>
                        <p class="recr_time f_color">{{item.create_time}}</p>
                      </a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div><!--recruit-->
      </div><!--mainbody-->
      <div class="bottom_index">
        <div class="bot_main">
          <p class=""><a href="">公司简介</a></p>
          <p class=""><a href="">联系我们</a></p>
          <p class=""><a href="">广告合作</a></p>
          <p class="bottom_color"><a href="">友情链接(天猪医药)</a></p>
        </div>
        <div class="copyright"><a href="">©2013-2016天猪科技<span>版权所有</span></a> </div>
      </div>
      </div>
      <script src='/static/common/jquery/jquery-1.12.4.min.js'></script>
      <!--兼容IE8以下样式-->
      <!--[if lte IE 8]>
      <script>
        function includeStyleElement(styles,styleId) {
            if (document.getElementById(styleId)) return;
            var style = document.createElement('style');
            style.id = styleId;
            (document.getElementsByTagName("head")[0] || document.body).appendChild(style);
            if (style.styleSheet) {
                style.styleSheet.cssText = styles;
            } else {
                style.appendChild(document.createTextNode(styles));
            }
        }
        $.get('/static/home/web.css',function(data) {
          var reg = /@media screen and \(min-width: 769px\) \{([.\n]*)+/;
          var res = reg.exec(data);
          var regS = /@media screen and \(max-width: 769px\) \{/;
          var resS = regS.exec(data);
          // 截取cssfile
          var stylefile = data.substring(0,resS.index)+data.substring(res.index+res[0].length,data.length-2);
          includeStyleElement(stylefile,"ie_polyfill")
        })
      </script>
      <![endif]-->
      <script src='/static/common/swiper/swiper.min.js'></script>
      <script src="/static/index/home/index.bundle.js"></script>  
    </body>
</html>