    body {
        margin: 0;
    }
    
    a {
      color: #666;
      text-decoration: none;
    }
    a:hover {
      color: #A26742;
    }

    .whole {
        font-family: "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB", "helvetica neue", helvetica, arial, Sans-serif, "Hiragino Sans GB", "Hiragino Sans GB W3", "SimHei";
        padding: 0;
        margin: 0 auto;
    }
    
    html {
        box-sizing: content-box;
    }
    
    .nav_index {
        z-index: 999;
    }
    
    .roll {
        width: 100%;
        height: 564px;
        margin-top: 90px;
        background-color: #646464;
    }
    
    .mainbody .main .main_list .sku_con .sku_name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 130px;
    }
    
    .mainbody .main .recr_list .recr_name {
        color: #0078db;
    }
    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }
    b{
      font-weight: 700;
    }
    .dropdown {
        position: relative;
        list-style: none outside none;
    }
    .dropdown li{
        list-style: none outside none;
    }
    .open>a {
        outline: 0;
    }
    
    .open>.dropdown-menu {
        display: block;
    }
    
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        background-clip: padding-box;
    }
    .dropdown-menu>li>a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
    }
    
    @media screen and (max-width: 769px) {
        .nav_index {
            background-color: #fafafa;
            height: 4.6rem;
            position: fixed;
            width: 100%;
            top: 0;
            right: 0;
            margin: auto;
            z-index: 998;
        }
        .tz-bar-holdder {
            width: 100%;
            height: 4.6rem;
        }
        .nav_index .logo {
            width: 25%;
            height: 78%;
            margin-left: 17%;
            margin-top: 6px;
        }
        .nav_index .logo img {
            width: 100%;
            height: 100%;
        }
        .nav_index .nav_list {
            display: none;
            width: 11rem;
            position: absolute;
            top: 4.3rem;
            background-color: #fafafa;
            z-index: 1100;
        }
        .nav_index .nav_list.show {
            display: block;
        }
        .nav_index .nav_list ul {
            margin: 0;
            padding: 0;
            text-align: center;
        }
        .nav_index .nav_list ul li {
            list-style-type: none;
            padding: 6px 0;
            border-bottom: 1px solid #d9d9d9;
            text-align: center;
        }
        .nav_index .nav_list ul li a:link,
        .nav_index .nav_list ul li a:visited {
            text-decoration: none;
            font-size: 1.6rem;
            color: #3f4448;
        }
        .nav_index .nav_list ul li a:hover,
        .nav_index .nav_list ul li a:active {
            color: #2fc0d8;
        }
        .nav_index .login {
            margin-left: 62%;
            margin-top: -8.5%;
        }
        .nav_index .login input {
            padding: 2% 6.5%;
            font-size: 1.6rem;
            outline: 0;
        }
        .nav_index .login .input_1 {
            color: #165fac;
            border: 1px solid #165fac;
            border-radius: 8px;
            background-color: #fff;
            margin-right: 8px;
        }
        .nav_index .login .input_2 {
            color: #fff;
            border: 1px solid #fff;
            background-color: #165fac;
            border-radius: 8px;
        }
        .nav_index .but_list {
            height: 51%;
            width: 6.2%;
            background-color: #fafafa;
            position: absolute;
            top: 10px;
            margin-left: 10px;
        }
        .nav_index .but_list img {
            width: 100%;
            height: 100%;
        }
        .dropdown a {
            font-size: 1.6rem;
        }
        .mainbody {
            width: 100%;
            margin: 0 auto;
        }
        .roll {
            width: 100%;
            margin-top: 4.6rem;
            height: inherit;
        }
        .mainbody .main .header {
            color: #0078db;
            font-size: 1.8rem;
        }
        .mainbody .main .min_list {
            border-top: 1px solid #0078db;
            overflow: hidden;
        }
        .mainbody .recr_right .header {
            color: #fff;
        }
        .mainbody .main .min_list ul li {
            list-style-type: none;
            padding: 0.5rem 0;
        }
        .mainbody .main .min_list ul li a {
            text-decoration: none;
            color: #646464;
            font-size: 1.4rem;
        }
        .mainbody .new_sku {
            margin: 0 auto;
            overflow: auto;
        }
        .mainbody .new_sku .min_list {
            margin-left: -47px;
        }
        .mainbody .new_sku .min_list ul {
            width: 27rem;
            margin: 0 auto;
        }
        .mainbody .new_sku .min_list ul li {
            float: left;
            margin: 7px 0 7px 9px;
        }
        .mainbody .main .min_list .sku_img {
            width: 12rem;
            height: 12rem;
        }
        .mainbody .main .min_list .sku_img img {
            width: 100%;
            height: 100%;
        }
        .mainbody .main .main_list .sku_con .sku_name {
            width: 12rem;
        }
        .mainbody .col {
            background-color: #f8f8f8;
            margin: 0 auto;
            width: 100%;
        }
        .mainbody .col .header {
            font-size: 1.8rem;
            color: #323232;
            height: 5rem;
            line-height: 5rem;
            border-bottom: 1px solid #e5e5e5;
            margin-left: 1rem;
        }
        .mainbody .col .col_con {
            width: 18rem;
            margin: 0 auto;
        }
        .mainbody .col .input {
            display: none;
            font-size: 1.4rem;
            margin: 1rem 0;
            height: 2rem;
            width: 18rem;
            border: 1px solid #ccc;
        }
        .mainbody .col .butt {
            border: 0;
            background-color: #0078db;
            width: 8rem;
            height: 2rem;
            margin: 0.5rem 0 2rem 4rem;
            color: #f3f3f3;
            border-radius: 8px;
            font-size: 1.2rem;
        }
        .mainbody .col .center {
            margin-left: 12rem;
        }
        .mainbody .agent {
            overflow: auto;
        }
        .mainbody .agent .min_list .agent_p {
            width: 6.8rem;
            height: 6.8rem;
        }
        .mainbody .agent .min_list .agent_p img {
            width: 100%;
            height: 100%;
            border: 1px solid #e5e5e5;
        }
        .mainbody .agent .min_list p {
            margin: 1rem;
        }
        .mainbody .agent .min_list .agent_per {
            margin-left: 7.5rem;
            margin-top: -8rem;
            width: 11rem;
        }
        .mainbody .agent .min_list .agent_p .agent_per .agent_name {
            color: #323232;
            font-size: 1.6rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .mainbody .agent .min_list .agent_p .agent_per .agent_k {
            font-size: 1.4rem;
            color: #999;
        }
        .mainbody .agent .min_list .agent_con {
            color: #646464;
            font-size: 1.4rem;
            width: 30rem;
        }
        .mainbody .enterprise .min_list ul {
            margin-left: -2rem;
        }
        .mainbody .enterprise .min_list ul li {
            float: left;
            margin-left: 1rem;
        }
        .mainbody .enterprise .min_list .enter_logo {
            width: 10rem;
            height: 10rem;
        }
        .mainbody .enterprise .min_list .enter_logo img {
            width: 100%;
            height: 100%;
            border: 1px solid #e5e5e5;
        }
        .mainbody .enterprise .min_list .enter_name {
            width: 10rem;
        }
        .mainbody .information .min_list ul {
            margin-left: -2rem;
        }
        .mainbody .information .min_list ul li {
            position: relative;
            width: 25rem;
            margin: 0 auto;
        }
        .mainbody .information .min_list .con {
            width: 18rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.2rem;
            margin-left: 1.5rem;
            margin-top: -1.4rem;
        }
        .mainbody .information .min_list .time {
            font-size: 1.2rem;
            position: absolute;
            right: 1rem;
            top: -1rem;
        }
        .mainbody .information .min_list .logo {
            width: 1.2rem;
            height: 1.2rem;
            border: 0;
        }
        .mainbody .information .min_list .logo img {
            width: 100%;
            height: 100%;
        }
        .mainbody .recruit .min_list {
            margin: 0 auto;
        }
        .mainbody .recruit .min_list ul {
            margin-left: -2.6rem;
        }
        .mainbody .recruit .min_list ul li {
            width: 10.5rem;
            float: left;
            margin-left: 1rem;
        }
        .mainbody .recruit .min_list .recr_company {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 10.5rem;
        }
        .mainbody .main .recr_list .f_color {
            color: #646464;
        }
        .mainbody .main .recr_list .recr_salary {
            color: #fa6041;
        }
        .bottom_index {
            height: 10rem;
            background-color: #efefef;
            clear: both;
        }
        .bottom_index .bot_main {
            margin: 0 auto;
            padding-top: 2rem;
        }
        .bottom_index .bot_main p {
            margin: 0.5rem 1rem;
            float: left;
        }
        .bottom_index .bot_main p a {
            text-decoration: none;
            color: #323232;
            font-size: 1.4rem;
        }
        .bottom_index .bot_main .bottom_color a {
            color: #0078db;
        }
        .bottom_index .copyright {
            clear: both;
            margin: 0 auto;
            text-align: center;
        }
        .bottom_index .copyright a {
            text-decoration: none;
            color: #323232;
            font-size: 1.2rem;
        }
    }
    
    @media screen and (min-width: 769px) {
        .nav-wrraper {
            width: 100%;
            height: 90px;
            position: fixed;
            top: 0;
            z-index: 997;
            background: #fafafa;
        }
        .tz-bar-holdder {
            width: 100%;
            height: 120px;
        }
        .nav_index {
            position: relative;
            height: 100%;
            width: 1150px;
            background-color: #fafafa;
            top: -6px;
            margin: auto;
        }
        .nav_index .logo {
            height: 74px;
            width: 189px;
            margin-top: 6px;
        }
        .nav_index .logo img {
            width: 100%;
            height: 100%;
            margin-top: 6px;
        }
        .nav_index .nav_list {
            margin-left: 219px;
            margin-top: -74px;
            width: 630px;
            height: 90px;
        }
        .nav_index .nav_list ul {
            margin: 0;
            padding: 0;
        }
        .nav_index .nav_list ul li {
            list-style-type: none;
            float: left;
        }
        .nav_index .nav_list ul li a:link,
        .nav_index .nav_list ul li a:visited {
            display: block;
            color: #323232;
            font-size: 18px;
            text-decoration: none;
            line-height: 90px;
            height: 90px;
            padding: 0px 12px;
        }
        .nav_index .nav_list ul li a:hover,
        .nav_index .nav_list ul li a:active {
            color: #fff;
            background-color: #0078db;
        }
        .nav_index .login {
            text-align: center;
            margin-top: -80px;
            margin-left: 850px;
            width: 250px;
            height: 74px;
            font-size: 18px;
        }
        .nav_index .login .dropdown {
            margin-top: 20px;
        }
        .nav_index .login input {
            padding: 8px 21px;
            font-size: 18px;
            margin-top: 16px;
            outline: 0;
        }
        .nav_index .login .input_1 {
            color: #165fac;
            border: 1px solid #165fac;
            border-radius: 8px;
            background-color: #fff;
            margin-right: 20px;
        }
        .nav_index .login .input_2 {
            color: #fff;
            border: 1px solid #fff;
            background-color: #165fac;
            border-radius: 8px;
        }
        .nav_index .but_list {
            display: none;
        }
        .dropdown a {
            font-size: 16px;
        }
        .mainbody {
            width: 1150px;
            margin: 0 auto;
            overflow: hidden;
            padding-bottom: 100px;
        }
        .mainbody .main .header {
            color: #0078db;
            font-size: 18px;
            padding-bottom: 2px;
        }
        .mainbody .main .main_list {
            margin-left: -7px;
            border-top: 1px solid #0078db;
            float: left;
            overflow: hidden;
            width: 828px;
        }
        .mainbody .main .main_list ul {
            margin-right: -20px;
            margin-left: -44px;
        }
        .mainbody .main .main_list ul li {
            float: left;
            list-style-type: none;
            margin-left: 10px;
        }
        .mainbody .main .main_list ul li a {
            text-decoration: none;
        }
        .mainbody .main .main_list .sku_img {
            border: 1px solid #f3f3f3;
            height: 124px;
            width: 121px;
        }
        .mainbody .main .main_list .sku_img img {
            width: 100%;
            height: 100%;
        }
        .mainbody .main .main_list .sku_con {
            color: #646464;
            font-size: 14px;
        }
        .mainbody .col {
            width: 272px;
            height: 249px;
            background-color: #f8f8f8;
            margin-left: 860px;
            margin-top: -47px;
            margin-bottom: 40px;
        }
        .mainbody .col .header {
            height: 47px;
            border-bottom: 1px solid #e5e5e5;
            font-size: 18px;
            color: #323232;
            line-height: 47px;
            padding-left: 18px;
        }
        .mainbody .col .input {
            display: none;
            height: 38px;
            width: 220px;
            font-size: 14px;
            border-radius: 5px;
            margin-left: 30px;
            color: #646464;
            border: 1px solid #ccc;
            margin-bottom: 15px;
            display: none
        }
        .mainbody .col .butt {
            width: 105px;
            height: 35px;
            background-color: #0078db;
            color: #fff;
            border: 0;
            border-radius: 5px;
            margin-left: 88px;
            margin-top: 52px;
            cursor: pointer;
        }
        .mainbody .main .agent_list {
            margin-left: -44px;
            border-top: 1px solid #0078db;
            overflow: hidden;
            width: 1188px;
        }
        .mainbody .main .agent_list .agent_p img {
            width: 67px;
            height: 67px;
        }
        .mainbody .main .agent_list ul li {
            list-style-type: none;
            float: left;
            margin: 0 13px;
        }
        .mainbody .main .agent_list .agent_p .agent_per {
            margin-left: 75px;
            margin-top: -80px;
            width: 90px;
        }
        .mainbody .main .agent_list .agent_p .agent_per .agent_name {
            color: #323232;
            font-size: 18px;
            word-break: keep-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .mainbody .main .agent_list .agent_p .agent_per .agent_k {
            color: #999;
            font-size: 14px;
            margin-left: 13px;
        }
        .mainbody .main .agent_list .agent_con {
            color: #646464;
            font-size: 14px;
            width: 165px;
        }
        .mainbody .main .main_list .enter_logo {
            width: 122px;
            height: 122px;
            border: 1px solid #e5e5e5;
        }
        .mainbody .main .main_list .enter_logo img {
            width: 100%;
            height: 100%;
        }
        .mainbody .main .main_list .enter_name {
            color: #646464;
            font-size: 14px;
            width: 130px;
            height: 38px;
            overflow: hidden;
        }
        .mainbody .col .center {
            margin-top: 70px;
        }
        .mainbody .information .main_list ul {
            padding-bottom: 25px;
        }
        .mainbody .information .main_list ul li {
            margin-right: 22px;
            border-bottom: 1px solid #e5e5e5;
        }
        .mainbody .information .main_list ul li a {
            font-size: 14px;
            color: #646464;
        }
        .mainbody .main .main_list .logo {
            width: 12px;
            height: 100%;
            margin-top: 12px;
        }
        .mainbody .main .main_list .con {
            width: 310px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            float: left;
            margin-left: 24px;
            margin-top: -20px;
            margin-bottom: 12px;
        }
        .mainbody .main .main_list .time {
            margin-left: 350px;
            margin-top: -17px;
            margin-bottom: 10px;
        }
        .mainbody .recruit {
            width: 545px;
            overflow: hidden;
        }
        .mainbody .left {
            float: left;
        }
        .mainbody .recr_right {
            margin-left: 55px;
            float: left;
        }
        .mainbody .main .recr_list {
            border-top: 1px solid #0078db;
        }
        .mainbody .main .recr_list ul{
          margin: 0;
          padding: 0;
        }
        .mainbody .main .recr_list ul li {
            list-style-type: none;
        }
        .mainbody .main .recr_list ul li a {
            text-decoration: none;
            font-size: 14px;
        }
        .mainbody .main .recr_list ul li a p {
            float: left;
        }
        .recr_name {
            display: inline-block;
            width: 70px;
        }
        .recr_company {
            display: inline-block;
            width: 190px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .mainbody .main .recr_list .f_color {
            color: #646464;
            margin-left: 15px;
        }
        .mainbody .main .recr_list .recr_salary {
            color: #fa6041;
            margin-left: 25px;
        }
        .recr_salary {
            display: inline-block;
            width: 90px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .recr_area {
            display: inline-block;
            width: 45px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .recr_time {
            display: inline-block;
            width: 60px;
        }
        .bottom_index {
            height: 170px;
            background-color: #efefef;
            clear: both;
        }
        .bottom_index .bot_main {
            width: 400px;
            height: 80px;
            line-height: 80px;
            margin: 0 auto;
        }
        .bottom_index .bot_main p {
            margin: 0 10px;
            float: left;
        }
        .bottom_index .bot_main p a {
            text-decoration: none;
            color: #323232;
            font-size: 14px;
        }
        .bottom_index .bot_main .bottom_color a {
            color: #0078db;
        }
        .bottom_index .copyright {
            clear: both;
            width: 300px;
            margin: 0 auto;
            text-align: center;
        }
        .bottom_index .copyright a {
            text-decoration: none;
            color: #323232;
            font-size: 12px;
        }
    }