body {
  font-family: "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB", "helvetica neue", helvetica, arial, Sans-serif, "Hiragino Sans GB", "Hiragino Sans GB W3", "SimHei";
  margin: 0px;
  background-color: #f5f5f5;
  position: relative;
}
.wrapper {
  position: relative;
  background-color: #fff;
  padding: 25px 40px ;
  font-size: 14px;
  color: #323232;
}
.wrapper .page-title {
  border-left: 5px solid #4498fb;
  padding-left: 15px;
}
.wrapper .content {
  width: 480px;
}
.wrapper .content .layer {
  margin-top: 20px;
}
.wrapper .content .layer .layer-title {
  position: relative;
  margin: 0;
  padding: 10px 0;
  font-size: 12px;
  border-bottom: 1px solid #ebebeb;
}
.wrapper .content .layer .layer-title .to-edit {
  float: right;
  color: #83b8fe;
}
.wrapper .content .layer .base-info {
  margin-top: 15px;
  overflow: hidden;
}
.wrapper .content .layer .base-info img {
  width: 100px;
  height: 100px;
  float: left;
}
.wrapper .content .layer .base-info .prod-intro {
  float: left;
  width: 380px;
  min-height: 100px;
  background-color: #f9f9f9;
}
.wrapper .content .layer .base-info .prod-intro .name {
  margin: 5px 15px;
  font-size: 12px;
  color: #323232;
}
.wrapper .content .layer .base-info .prod-intro p {
  margin: 4px 0 0 15px;
  font-size: 10px;
  color: #999;
}
.wrapper .content .layer .base-info .prod-intro p .left-span {
  display: inline-block;
  width: 140px;
}
.wrapper .content .layer .base-info .prod-intro p .right-span {
  display: inline-block;
  width: 210px;
}
.wrapper .content .layer .base-info .public-info p {
  margin: 0 0 10px 15px;
  font-size: 12px;
  color: #999;
}
.wrapper .content .layer .base-info .public-info p span {
  display: inline-block;
  width: 230px;
}
.wrapper .content .layer .base-info .public-info .area-table {
  width: 100%;
  font-size: 12px;
}
.wrapper .content .layer .base-info .public-info .area-table tbody tr th {
  text-align: center;
  vertical-align: middle;
}
.wrapper .content .layer .base-info .public-info .area-table tbody tr td {
  text-align: center;
  vertical-align: middle;
}
@charset "utf-8";
/*基础css 重置*/
html{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{margin: 0;padding: 0;font-family: "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB","helvetica neue",helvetica,arial,Sans-serif,"Hiragino Sans GB","Hiragino Sans GB W3","SimHei";}

ul,ol,li{list-style:none;}

label,input,textarea{display: inline-block;vertical-align: middle;}
/*a各种状态*/
a,a:active,a:link,a:hover,a:visited{text-decoration:none; border:0 none; outline:0;}
/*强制换行*/
.tz-wrap{word-break:break-all; word-wrap:break-word;}
/*强制不换行 超出显示...*/
.tz-no-wrap{white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
/*复选框 单选框重置*/
input[type="checkbox"],input[type="radio"]{margin:-2px 5px 0 0; vertical-align:middle;}
/*清除浮动*/
.fn-clear::after {
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
    clear: both;
    content: " ";
}
/*图片水平居中 垂直居中*/
.tz-pic-middle{
    overflow: hidden;
    text-align: center;
}
.tz-pic-middle:after{
    content:".";
    display: inline-block;   
    height: 100%;                 
    visibility:hidden; /*设置成隐藏元素*/
    vertical-align: middle;
}
.tz-pic-middle img{
    max-height: 100%;
    vertical-align: middle;
}
/*---------------table css-------------*/
th,td{text-align: left;}

th{font-weight: normal;}

table {border-collapse: collapse;border-spacing: 0;}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
  border: 1px solid #ddd;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #f9f9f9;
}
tbody>tr>th {
  background-color: #f9f9f9;
}

.width-10{
  width: 10%;
}
.width-20{
  width: 20%;
}
.width-30{
  width: 30%;
}
.width-40{
  width: 40%;
}
.width-50{
  width: 50%;
}
.width-60{
  width: 60%;
}
.width-70{
  width: 70%;
}
.width-80{
  width: 80%;
}
.width-90{
  width: 90%;
}
/*bootstrap 部分css*/
/*下拉列表 select  input*/
.form-control {
  border-radius: 4px;
  -webkit-border-radius:4px; 
  -moz-border-radius:4px;
  display: block;
  color: #666;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

/*下拉二级菜单*/
.btn-group, .btn-group-vertical {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.btn-group > .btn:first-child {
    margin-left: 0;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    float: left;
    position: relative;
}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33333;
    padding: 10px 16px;
}
.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
/*按钮*/
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-lg .caret {
    border-width: 5px 5px 0;
}
.btn .caret {
    margin-left: 0;
}
.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px dashed;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}
.open > .dropdown-menu {
    display: block;
}