<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>微信测试</title>
    <style>
    	.weixin {
        border: 2px solid gray;
        width: 50%;
        
      }
    </style>
  </head>
  <body>
	 <div class="weixin">
    <input type="button" id="test1" value="Test1"> <br>
    <input type="button" id='check-api' value="checkApi"> <br>
    <input type="button" id="chooseimg" value="Image">

   </div>
  </body>
  <!-- <script src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js'></script> -->
  <script src='/static/wechatT/index.bundle.js'></script>
 </html>