<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>活动详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="/static/index/pro_detail/index.css">
	</head>

	<body class="product_detail">
	  <div class="all_content">
	  	<div class="head"></div>
	      <div class="head_bottom">所在位置：首页 > 产品列表  > 产品详情</div>
	      <div class="content">
	      	<div class="list_left">
	      		<div class="show_img">
	      			<div class="big_img"></div>
	      			<div class="img_list">
	      				<ul>
	      					<li class="active">
	      						<img src="">
	      					</li>
	      					<li>
	      						<img src="">
	      					</li>
	      					<li>
	      						<img src="">
	      					</li>
	      				</ul>
	      			</div>
	      		</div>
	      		<div class="shop">
	      			<div class="shop_name">
	      				店铺企业名称店铺企业名称店铺...
	      				店铺企业名称店铺企业名称店铺...
	      			</div>
	      			<div class="shop_con">
	      				<div class="shop_img"></div>
	      				<div class="shop_de">
	      					<ul>
	      						<li>
	      							<span>产品（1）</span>
	      							<span>资讯（1）</span>
	      						</li>
	      						<li>
	      							<span>招聘（1）</span>
	      							<span>活动（1）</span>
	      						</li>
	      						<li>
	      							<span>关注人数</span>
	      						</li>
	      					</ul>
	      				</div>
	      			</div>
	      		</div>
	      		<div class="products">
	      			<div class="products_head">
	      				招商产品
	      			</div>
	      			<div class="products_list">
	      				<ul>
	      					<li>
	      						<div class="products_img">	
	      						</div>
	      						<div class="products_de">
	      							<ul>
	      								<li>药品名称：</li>
	      								<li>规格：</li>
	      								<li>类型：</li>
	      								<li>优势：</li>
	      							</ul>
	      						</div>
	      					</li>
	      					<li>
	      						<div class="products_img">	
	      						</div>
	      						<div class="products_de">
	      							<ul>
	      								<li>药品名称：</li>
	      								<li>规格：打算是打算是打算是打算是打算是打算是打算是打算是</li>
	      								<li>类型：</li>
	      								<li>优势：</li>
	      							</ul>
	      						</div>
	      					</li>

	      				</ul>
	      			</div>
	      		</div>
	      	</div>
	      	<div class="list_right">
	      		<div class="med_name">
	      		  <div class="med_head">药品名称</div>
	      		  <div class="med_con">
	      			<ul>
	      				<li>
	      					<span>类型：类型类型类型类型类型类型类型类型类型型类型类型类型</span>
	      					<span>剂型：类型类型类型类型类型类型类型类型类型型类型类型类型</span>
	      				</li>
	      				<li>
	      					<span>规格：</span>
	      					<span>厂家：</span>
	      				</li>
	      				<li>
	      					<span>优势：</span>
	      					<span>科室：</span>
	      				</li>
	      				<li>
	      					<span>优势：</span>
	      				</li>
	      			</ul>
	      		  </div>	
	      		</div>
	      		<div class="inv_details">
	      			<div class="inv_head">
	      				<div class="ih_name">招商详情</div>
	      			</div>
	      			<div class="inv_con">
	      			 <ul class="">
	      				<li class="half">
	      				【通用名】 阿胶生化膏 	      				
	      				</li>
	      				<li class="half">
	      				【规格包装】 200ml/瓶 	      				
	      				</li>
	      				<li class="half">
	      				【零售价】187元 	      				
	      				</li>
	      				<li class="half">
	      				【生产厂家】山西天生制药有限责任公司 	      				
	      				</li>
	      				<li class="half">
	      				【国药准字】Z14021398	      				
	      				</li>
	      				<li class="half">
	      				【药品名称】阿胶生化膏	      				
	      				</li>
	      				<li>
	      				【主要成份】 阿胶、熟黄地、川芎、路路通、赤芍、麦冬、当归、益 母草、木通、 桃仁、甘  辅料：黄酒、红糖、炼蜜。 
	      				</li>
	      				<li>
	      					【性 状】 本品为棕褐色稠厚的半流体;气微‘味先甜后苦。
	      				</li>
	      				<li>
	      				【功能主治】 滋阴养血，去瘀生新，通乳。用于妇女产后血虚体弱， 淤血不清，下腹疼痛， 
	      				</li>
	      				<li>
	      				【用法用量】 温开水冲服或直接口服，一次20ml,一日2-3次。 
	      				</li>
	      				<li>
	      				【贮 藏】密封，置阴凉处。 
	      				</li>
	      				<li>
	      					【注意事项】孕妇忌用。 
	      				</li>
	      				<li>
	      					【批准文号】国药准字Z14021398 
	      				</li>
	      				<li class="bottom">
	      					业务联系人：但先生13372520055
	      				</li>
	      			</ul>
	      			</div>
	      		</div>
	      		<div class="detail_tabs">
	      			<ul class="nav" id="detail_nav">
	      				<li class="active">图文详情</li>
	      				<li>最新评论</li>
	      				<li>产品文献</li>
	      				<li>招商区域</li>
	      				<li>招商经理</li>
	      			</ul>
	      			<div class="tab-con">
	      			  <div class="tab-pane pic_detail active">
	      			  	<div class="big_img"></div>
	      			  	<div class="pd_con">
	      			  		<ul>
	      			  			<li>妇产科：</li>
	      			  			<li>产后血虚体弱，面色萎黄</li>
	      			  			<li>产后乳汁不通，乳少，乳痈</li>
	      			  			<li>产后气滞血瘀，下腹疼痛</li>
	      			  			<li>加强子宫收缩，促进子宫复旧</li>
	      			  			<li>产后出血、恶露不净、宫缩不良、胎盘、胎膜残留</li>
	      			  		</ul>
	      			  		<ul>
	      			  			<li>计划生育：</li>
	      			  			<li>人流、药流、自然流产后阴道出血、子宫复原不全</li>
	      			  			<li>治疗上环后出血、月经过多</li>
	      			  			<li>产后气滞血瘀，下腹疼痛</li>
	      			  			<li>加强子宫收缩，促进子宫复旧</li>
	      			  			<li>产后出血、恶露不净、宫缩不良、胎盘、胎膜残留</li>
	      			  		</ul>
	      			  	</div>
	      			  </div>
	      			  <div class="tab-pane new_reviews">
	      			  	<ul>
	      			  		<li>
	      			  			<div class="nr_left">
	      			  				<img src=""/>
	      			  				<span>用户名</span>
	      			  			</div>
	      			  			<div class="nr_middle">评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论</div>
	      			  			<div class="nr_right">2016-05-14</div>
	      			  		</li>
	      			  		<li>
	      			  			<div class="nr_left">
	      			  				<img src=""/>
	      			  				<span>用户名</span>
	      			  			</div>
	      			  			<div class="nr_middle">评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论</div>
	      			  			<div class="nr_right">2016-05-14</div>
	      			  		</li>
	      			  		<li>
	      			  			<div class="nr_left">
	      			  				<img src=""/>
	      			  				<span>用户名</span>
	      			  			</div>
	      			  			<div class="nr_middle">评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论区评论</div>
	      			  			<div class="nr_right">2016-05-14</div>
	      			  		</li>
	      			  	</ul>
	      			  </div>
	      			  <div class="tab-pane pro_doc">
	      			  	<ul>
	      			  		<li>【药品名称】 药品名称同仁乌鸡白凤丸英文名称汉语拼音Tongren Wuji Baifeng Wan生产厂 家北京同仁堂股份有限公司同仁堂制药厂
	      			  		</li>
	      			  		<li>【性状】 乌鸡（去毛爪肠）、人参、白芍、丹参、香附（醋炙）、当归、牡蛎（煅）、鹿角、
             桑螵蛸、甘草、青蒿、天冬、熟地黄、地黄、川芎、黄芪、银柴胡、芡实（炒）、
             山药。辅料为赋形剂蜂蜜。
	      			  		</li>
	      			  		<li>【功能与主治】 同仁堂同仁乌鸡白凤丸功效：补气养血，调经止带
	      			  		</li>
	      			  	</ul>
	      			  </div>
	      			  <div class="tab-pane inv_place">
	      			  	<ul>
	      			  		<li>
	      			  		<div class="inv_place_list">
	      			  			<div class="list_head">
	      			  				<div class="lh_place">安徽省</div>
	      			  				<div class="lh_type">
	      			  					<span class="green">医保</span>
	      			  					<span class="green">基药</span>
	      			  					<span class="blue">中标40.2元</span>
	      			  				</div>
	      			  				<div class="lh_number">
	      			  					17个市/12家医院
	      			  				<span class="icon_up">
	      			  					
	      			  				</span>
	      			  				</div>
	      			  			</div>
	      			  			<div class="list_content">
	      			  			   <div class="lc_city">
	      			  			   <div class="head">省室（4）</div>
	      			  			   <ul>
	      			  			   	<li>全省招商</li>
	      			  			   	<li>宣城市</li>
	      			  			   	<li>宿州市</li>
	      			  			   	<li>合肥市</li>
	      			  			   	<li>宣城市</li>
	      			  			   	<li>宿州市</li>
	      			  			   	<li>合肥市</li>
	      			  			   	<li>宣城市</li>
	      			  			   	<li>宿州市</li>
	      			  			   	<li>合肥市</li>
	      			  			   	<li>宣城市</li>
	      			  			   	<li>宿州市</li>
	      			  			   	<li>合肥市</li>
	      			  			   </ul>
	      			  			   	
	      			  			   </div>
	      			  			   <div class="lc_hospital">
	      			  			   	<div class="head">医院（4）</div>
	      			  			   	<ul>
	      			  			   		<li>哗啦啦过来就发医院</li>
	      			  			   		<li>哗啦啦过来就发医院</li>
	      			  			   		<li>哗啦啦过来就发医院</li>
	      			  			   		<li>哗啦啦过来就发医院</li>
	      			  			   	</ul>
	      			  			   </div>
	      			  			</div>
	      			  		</div>
	      			  			
	      			  		</li>
	      			  		<li>
	      			  		<div class="inv_place_list">
	      			  			<div class="list_head">
	      			  				<div class="lh_place">安徽省</div>
	      			  				<div class="lh_type">
	      			  					<span class="green">医保</span>
	      			  					<span class="green">基药</span>
	      			  					<span class="blue">中标40.2元</span>
	      			  				</div>
	      			  				<div class="lh_number">
	      			  					17个市/12家医院
	      			  				<span class="icon_up">
	      			  					
	      			  				</span>
	      			  				</div>
	      			  			</div>
	      			  			<div class="list_content">
	      			  			   <div class="lc_city">
	      			  			   <div class="head">省市（4）</div>
	      			  			   <ul>
	      			  			   	<li>全省招商</li>
	      			  			   	<li>宣城市</li>
	      			  			   	<li>宿州市</li>
	      			  			   	<li>合肥市</li>
	      			  			   	<li>宣城市</li>
	      			  			   	<li>宿州市</li>
	      			  			   	<li>合肥市</li>
	      			  			   	<li>宣城市</li>
	      			  			   	<li>宿州市</li>
	      			  			   	<li>合肥市</li>
	      			  			   	<li>宣城市</li>
	      			  			   	<li>宿州市</li>
	      			  			   	<li>合肥市</li>
	      			  			   </ul>	
	      			  			   </div>
	      			  			   <div class="lc_hospital">
	      			  			   	<div class="head">医院（4）</div>
	      			  			   	<ul>
	      			  			   		<li>哗啦啦过来就发医院 <span>代理</span><span>上量</span></li>
	      			  			   		<li>哗啦啦过来就发医院</li>
	      			  			   		<li>哗啦啦过来就发医院</li>
	      			  			   		<li>哗啦啦过来就发医院</li>
	      			  			   	</ul>
	      			  			   </div>
	      			  			</div>
	      			  		</div>
	      			  			
	      			  		</li>
	      			  	</ul>
	      			  </div>
	      			  <div class="tab-pane inv_manager">
	      			  	<div class="im_left">
	      			  		<div class="head">招商经理：王艺谋    </div>
	      			  		<div class="content">
	      			  			<ul>
	      			  				<li>华北地区：北京市、天津市、河北、内蒙古、山东、山西
	      			  				</li>
	      			  				<li>华东地区：上海市、安徽、江苏、 浙江
	      			  				</li>
	      			  				<li>华南地区：福建、广东、广西、海南、江西
	      			  				</li>
	      			  			</ul>
	      			  		</div>
	      			  	</div>
	      			  	<div class="im_right">
	      			  		<div class="right_head">
	      			  			<a href="">立刻联系</a>
	      			  		</div>
	      			  		<div class="right_con">
	      			  			<img src="/static/index/pro_detail/resource/right.png" />
	      			  		</div>      			  		
	      			  	</div>
	      			  </div>
	      			</div>
	      		</div>
	      	</div>
	      </div>
	  </div>	      
	</body>
	<script src='/static/common/jquery/jquery-1.12.4.min.js'></script>
	<script src="/static/index/pro_detail/index.bundle.js"></script>
</html>